extends layout

block head
	script(src="/socket.io/socket.io.js")
	script(src="/js/chat.js")

block content
	p#busy connectiong 
		i.fa.fa-refresh.fa-spin
	form(action="", role="form", method="post", onsubmit="return false;")
		label.sr-only Your message
		.input-group
			input#message.form-control(type="text", placeholder="Your message")
			.input-group-btn
				input#btnSendMsg.btn.btn-default(type="submit", value="Send Message")
	br
	#msg_list
	hr
	a.toggle(data-toggle='collapse', data-target='#mdlConnectionLog')
		| Connection log
	table#mdlConnectionLog.table.collapse
		tbody#status

block footer
