extends layout

block head
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/chat.js")

block content
	p Welcome to #{title}
	#msg_list.well
	form(action="",role="form",method="post",onsubmit="return false;")
		.form-group
			label.sr-only Your message
			input#message.text.form-control(type="text",placeholder="Your message")
		.form-group
			input.btn.btn-primary(type="submit", onclick="sendMessage();",value="Send all")
