extends layout

block head
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/chat.js")

block content
	.row
		.col-sm-12
			p Welcome to #{title}
	.row
		.col-sm-6
			#msg_list
		.col-sm-6
			form(action="", role="form", method="post", onsubmit="return false;")
				.form-group
					label.sr-only Your message
					input#message.text.form-control(type="text", placeholder="Your message")
				.form-group
					input#btnSendMsg.btn.btn-primary(type="submit", value="Send Message")
			#status