extends layout

block head
	script(src="/socket.io/socket.io.js")
	script(src="/js/chat.js")

block content
	form(action="", role="form", method="post", onsubmit="return false;")
		label.sr-only Your message
		.input-group
			input#message.form-control(type="text", placeholder="Your message")
			.input-group-btn
				input#btnSendMsg.btn.btn-default(type="submit", value="Send Message")
	#msg_list
	hr
	a.toggle(data-toggle='collapse', data-target='#mdlConnectionLog')
		| Connection log
	#mdlConnectionLog.collapse
		#status

block footer
