extends layout

block content
	.jumbotron
		h2 Hi! Welcome to Simple Chat.
		a.btn.btn-default.btn-lg(href="/chat") Go
	ul
		li ページ更新（SmartPhoneを考慮し、Jumbotronにした）
		li alertifyを追加。ログをダイアログで表示。
		li Bootstrapを適用。
		li ページを整理。Jadeを中心にした。
		li チャットいれた。見栄えはいまいち。
