doctype html
html
	head
		title= title
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="https://code.jquery.com/jquery-1.10.2.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
		block head
	body
		nav.navbar.navbar-default(role="navigation")
			.navbar-header
				a.navbar-brand(href="/") Express
				ul.nav.navbar-nav
					li: a(href="Chat") Simple Chat
		.container
			block content
