doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css")
		script(src="https://code.jquery.com/jquery-1.10.2.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
		block head
	body
		nav.navbar.navbar-default(role="navigation")
			.navbar-header
				button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/") Express
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li: a(href="Chat") Simple Chat
					li
						a.dropdown-toggle(href="#", data-toggle="dropdown") menu2
							b.caret
						ul.dropdown-menu
							li: a Action(menu sample)
							li: a Action(menu sample)
		.container
			block content
