doctype html
html
	head
		title= title
		link(rel="stylesheet", href="lib/bootstrap/3.0.3/css/bootstrap.min.css")
		link(rel="stylesheet", href="lib/bootstrap/3.0.3/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="lib/alertify/0.3.11/alertify.core.css")
		link(rel="stylesheet", href="lib/alertify/0.3.11/alertify.bootstrap.css")
		<!--[if lt IE 9]>
		script(src="lib/html5shiv/html5shiv.js")
		script(src="lib/respond/respond.src.js")
		<![endif]-->

		script(src="lib/jquery/1.11.0/jquery-1.11.0.min.js")
		script(src="lib/bootstrap/3.0.3/js/bootstrap.min.js")
		script(src="lib/alertify/0.3.11/alertify.js")
		script(type="text/javascript").
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-47209889-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		block head
	body
		nav.navbar.navbar-default(role="navigation")
			.navbar-header
				a.navbar-brand(href="/") Express
			.navbar-collapse
				ul.nav.navbar-nav
					li: a(href="Chat") Simple Chat
					li: a(href="RealChat") Realtime Chat
		.container

			block content
