extends layout

block head
	script(src="/socket.io/socket.io.js")
	script(src="/js/realchat.js")

block content
	.row
		.col-sm-12
			p Welcome to #{title}
	.row
		.col-sm-6
			form(action="", role="form", method="post", onsubmit="return false;")
				.form-group
					label Message Text
					input#realText.text.form-control(type="text", value="")
			#status
		.col-sm-6
			#realTextOut
